* {
  font-size: 0;
}

.red, .green {
  height: 70px;
  width: 450px;
}

.red {
  background-color: red;
}

.blue, .purple, .yellow {
  height: 350px;
  width: 150px;
  display: inline-block;
}

.blue {
  background-color: blue;
}

.purple {
  background-color: purple;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}
