* {
  margin: 0;
  padding: 0;
  font-size: 0;
}

.red {
  height: 50px;
  width: 400px;
  background-color: red;
}

.yellow {
  height: 400px;
  width: 50px;
  display: inline-block;
  background-color: yellow;
}

.blue {
  height: 360px;
  width: 300px;

  background-color: blue;
}

.green {
  height: 40px;
  width: 300px;
  background-color: green;
}

.stack {
  display: inline-block;
}
